<div class="container">
  <h2 class="text-center"><%= I18n.t('.article_show') %></h2>
  <table class="table">
    <thead>
      <tr>
        <th class="col-1 vh-center" scope="col">タイトル</th>
        <th class="col-1 vh-center" scope="col">内容</th>
        <th class="col-2 vh-center" scope="col">画像</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td class="vh-center"><%= @article.title %></td>
          <td class="vh-center"><%= @article.content %></td>
          <td class="vh-center">
              <%= image_tag "#{@article.image.url}" %>
          </td>
        </tr>
    </tbody>
  </table>
  <div class="vh-center">
    <%= link_to "編集", users_articles_edit_path(id: @article.id), class: "btn btn-success" %>
    <%= link_to "削除", users_articles_destroy_path(id: @article.id), method: :delete, data: { confirm: "「記事ID: #{@article.id}」を削除します。よろしいですか？"}, class: "btn btn-danger" %>
  </div>

  <div class="vh-center mt-3"><%= link_to '記事一覧へ戻る', users_articles_index_path, class: "btn btn-primary" %></div>
</div>
