<!DOCTYPE html>
<html>
  <head>
    <title>WslSecondApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
    <p>Notice: <%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
        <p>Alert: <%= flash[:alert] %></p>
    <% end %>
    <%= yield %>

    <% if current_user %>
        <li><%= link_to 'アカウント編集', edit_user_registration_path %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    <% end %>

  </body>
</html>
